<div class="relative p-6 overflow-hidden">
  <img
    id="j_idt42:blockViewerForm:j_idt49"
    src="https://cutewallpaper.org/28/dark-green-mac-wallpaper/midnight-green-wallpapers.png"
    class="absolute top-0 left-0 w-auto h-full block md:w-full"
    alt="Image"
  />
  <div class="text-center my-6 relative">
    <div class="text-6xl text-white font-bold mb-1">Your Platform Easy</div>
    <div class="text-6xl text-color font-bold mb-4">with us</div>
    <p
      class="mt-0 mb-4 line-height-3 text-center mx-auto text-white"
      style="max-width: 500px"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <button
      pButton
      pRipple
      label="Learn More"
      type="button"
      class="mr-3 button-raised color-background"
    ></button>

    <p class="text-sm mt-4 mb-4 line-height-3 text-white">
      Available for MacOS, Web and Google accounts only
    </p>
    <div class="flex justify-content-center align-items-center">
      <a href="https://www.apple.com" class="text-white mr-3">
        <i class="pi pi-apple text-2xl"></i>
      </a>
      <a href="https://play.google.com" class="text-white mr-3">
        <i class="pi pi-android text-2xl"></i>
      </a>
      <a href="https://www.facebook.com" class="text-white">
        <i class="pi pi-facebook text-2xl"></i>
      </a>
    </div>
  </div>
</div>
<div id="blockContent" class="block-content">
  <div class="block-content-active surface-section">
    <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
      <div class="grid">
        <div class="col-12 lg:col-4 pr-0 lg:pr-4">
          <div class="text-900 text-5xl font-bold mb-3">Meet our team</div>
          <p class="text-700 text-lg line-height-3">
            Enim diam vulputate ut pharetra sit amet aliquam id. Consequat nisl
            vel pretium lectus quam id leo in. Nibh sit amet commodo nulla
            facilisi nullam vehicula. Nunc eget lorem dolor sed viverra ipsum
            nunc aliquet.
          </p>
        </div>
        <div class="col-12 lg:col-8">
          <div class="grid">
            <div class="col-12 lg:col-6 p-3">
              <img
                id="j_idt201:blockViewerForm:j_idt203"
                src="https://www.primefaces.org/primeblocks-jsf/javax.faces.resource/images/blocks/team/team-1.png.xhtml?ln=primeblocks-app"
                class="mb-4 w-full"
                alt="Image"
              />
              <div class="font-medium text-xl mb-1 text-900">Jacob Jones</div>
              <span class="text-600 font-medium">UI/UX Designer</span>
              <p class="line-height-3 mt-3 mb-3">
                Vulputate ut pharetra sit amet. Netus et malesuada fames ac
                turpis egestas. Elit eget gravida cum sociis natoque penatibus.
                Urna id volutpat lacus laoreet non curabitur. In ante metus
                dictum at.
              </p>
              <div class="mb-2">
                <a tabindex="0" class="cursor-pointer">
                  <i class="pi pi-twitter text-600 text-xl mr-3"></i>
                </a>
                <a tabindex="0" class="cursor-pointer">
                  <i class="pi pi-github text-600 text-xl mr-3"></i>
                </a>
                <a tabindex="0" class="cursor-pointer">
                  <i class="pi pi-facebook text-600 text-xl"></i>
                </a>
              </div>
            </div>
            <div class="col-12 lg:col-6 p-3">
              <img
                id="j_idt201:blockViewerForm:j_idt205"
                src="https://www.primefaces.org/primeblocks-jsf/javax.faces.resource/images/blocks/team/team-2.png.xhtml?ln=primeblocks-app"
                class="mb-4 w-full"
                alt="Image"
              />
              <div class="font-medium text-xl mb-1 text-900">Theresa Webb</div>
              <span class="text-600 font-medium">Project Manager</span>
              <p class="line-height-3 mt-3 mb-3">
                Risus feugiat in ante metus dictum. Et egestas quis ipsum
                suspendisse ultrices. Risus pretium quam vulputate dignissim
                suspendisse. Justo nec ultrices dui sapien.
              </p>
              <div class="mb-2">
                <a tabindex="0" class="cursor-pointer">
                  <i class="pi pi-twitter text-600 text-xl mr-3"></i>
                </a>
                <a tabindex="0" class="cursor-pointer">
                  <i class="pi pi-github text-600 text-xl mr-3"></i>
                </a>
                <a tabindex="0" class="cursor-pointer">
                  <i class="pi pi-facebook text-600 text-xl"></i>
                </a>
              </div>
            </div>
            <div class="col-12 lg:col-6 p-3">
              <img
                id="j_idt201:blockViewerForm:j_idt207"
                src="https://www.primefaces.org/primeblocks-jsf/javax.faces.resource/images/blocks/team/team-3.png.xhtml?ln=primeblocks-app"
                class="mb-4 w-full"
                alt="Image"
              />
              <div class="font-medium text-xl mb-1 text-900">Esther Howard</div>
              <span class="text-600 font-medium">Software Developer</span>
              <p class="line-height-3 mt-3 mb-3">
                Donec et odio pellentesque diam volutpat commodo sed egestas.
                Blandit massa enim nec dui nunc mattis enim ut tellus.
                Suspendisse faucibus interdum posuere lorem ipsum.
              </p>
              <div class="mb-2">
                <a tabindex="0" class="cursor-pointer">
                  <i class="pi pi-twitter text-600 text-xl mr-3"></i>
                </a>
                <a tabindex="0" class="cursor-pointer">
                  <i class="pi pi-github text-600 text-xl mr-3"></i>
                </a>
                <a tabindex="0" class="cursor-pointer">
                  <i class="pi pi-facebook text-600 text-xl"></i>
                </a>
              </div>
            </div>
            <div class="col-12 lg:col-6 p-3">
              <img
                id="j_idt201:blockViewerForm:j_idt209"
                src="https://www.primefaces.org/primeblocks-jsf/javax.faces.resource/images/blocks/team/team-4.png.xhtml?ln=primeblocks-app"
                class="mb-4 w-full"
                alt="Image"
              />
              <div class="font-medium text-xl mb-1 text-900">
                Darlene Robertson
              </div>
              <span class="text-600 font-medium">UI/UX Designer</span>
              <p class="line-height-3 mt-3 mb-3">
                Pretium aenean pharetra magna ac placerat vestibulum. Est
                ullamcorper eget nulla facilisi etiam dignissim diam quis enim.
                Fringilla urna porttitor rhoncus dolor purus non enim..
              </p>
              <div class="mb-2">
                <a tabindex="0" class="cursor-pointer">
                  <i class="pi pi-twitter text-600 text-xl mr-3"></i>
                </a>
                <a tabindex="0" class="cursor-pointer">
                  <i class="pi pi-github text-600 text-xl mr-3"></i>
                </a>
                <a tabindex="0" class="cursor-pointer">
                  <i class="pi pi-facebook text-600 text-xl"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
