.text-color {
  color: #16db65 !important;
}
.color-background {
  background-color: #16db65;
  border: 1px solid #16db65;
  border: hover 1px solid #16db65 !important;
  background-color: hover #16db65;
}
