.color-background {
  color: #16db65;
}
.color {
  background-color: #16db65;
  border: 1px solid #16db65;
  border: hover 1px solid #16db65 !important;
}
.color:hover {
  background-color: #333333;
  border: 1px solid #16db65;
  border: hover 1px solid #16db65 !important;
}
