<div id="blockContent" class="block-content">
  <div class="block-content-active surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="surface-section">
      <div class="grid">
        <div class="col-12 md:col-6">
          <div class="p-fluid pr-0 md:pr-6">
            <div class="field">
              <label for="name" class="font-medium">Name</label>
              <input
                id="j_idt42:blockViewerForm:name"
                name="j_idt42:blockViewerForm:name"
                type="text"
                class="p-inputfield p-inputtext p-widget p-state-default p-corner-all py-3 px-2 text-lg"
              />
              <script
                id="j_idt42:blockViewerForm:name_s"
                type="text/javascript"
              >
                $(function () {
                  PrimeFaces.cw(
                    "InputText",
                    "widget_j_idt42_blockViewerForm_name",
                    {
                      id: "j_idt42:blockViewerForm:name",
                    }
                  );
                });
              </script>
            </div>
            <div class="field">
              <label for="email" class="font-medium">Email</label>
              <input
                id="j_idt42:blockViewerForm:email"
                name="j_idt42:blockViewerForm:email"
                type="text"
                class="p-inputfield p-inputtext p-widget p-state-default p-corner-all py-3 px-2 text-lg"
              />
              <script
                id="j_idt42:blockViewerForm:email_s"
                type="text/javascript"
              >
                $(function () {
                  PrimeFaces.cw(
                    "InputText",
                    "widget_j_idt42_blockViewerForm_email",
                    {
                      id: "j_idt42:blockViewerForm:email",
                    }
                  );
                });
              </script>
            </div>
            <div class="field">
              <label for="company" class="font-medium">Company</label>
              <input
                id="j_idt42:blockViewerForm:company"
                name="j_idt42:blockViewerForm:company"
                type="text"
                class="p-inputfield p-inputtext p-widget p-state-default p-corner-all py-3 px-2 text-lg"
              />
              <script
                id="j_idt42:blockViewerForm:company_s"
                type="text/javascript"
              >
                $(function () {
                  PrimeFaces.cw(
                    "InputText",
                    "widget_j_idt42_blockViewerForm_company",
                    {
                      id: "j_idt42:blockViewerForm:company",
                    }
                  );
                });
              </script>
            </div>
            <div class="field">
              <label for="message" class="font-medium">Message</label>
              <textarea
                id="j_idt42:blockViewerForm:message"
                name="j_idt42:blockViewerForm:message"
                class="p-inputfield p-inputtextarea p-widget p-state-default p-corner-all py-3 px-2 text-lg p-inputtextarea-resizable"
                cols="20"
                rows="6"
                maxlength="2147483647"
              ></textarea>
              <script
                id="j_idt42:blockViewerForm:message_s"
                type="text/javascript"
              >
                $(function () {
                  PrimeFaces.cw(
                    "InputTextarea",
                    "widget_j_idt42_blockViewerForm_message",
                    {
                      id: "j_idt42:blockViewerForm:message",
                      autoResize: true,
                    }
                  );
                });
              </script>
            </div>
            <div class="text-right">
              <button
                id="j_idt42:blockViewerForm:j_idt48"
                name="j_idt42:blockViewerForm:j_idt48"
                class="p-button p-widget p-state-default p-corner-all p-button-text-icon-left px-4 py-2 w-auto color"
                type="button"
              >
                <span
                  class="p-button-icon-left p-icon p-c pi pi-envelope"
                ></span>
                <span class="p-button-text">Submit</span>
              </button>
              <script
                id="j_idt42:blockViewerForm:j_idt48_s"
                type="text/javascript"
              >
                $(function () {
                  PrimeFaces.cw(
                    "CommandButton",
                    "widget_j_idt42_blockViewerForm_j_idt48",
                    {
                      id: "j_idt42:blockViewerForm:j_idt48",
                    }
                  );
                });
              </script>
            </div>
          </div>
        </div>
        <div
          class="col-12 md:col-6 bg-no-repeat bg-right-bottom"
          style="
            background: url(https://www.primefaces.org/primeblocks-jsf/javax.faces.resource/images/blocks/contact/contact-1.png.xhtml?ln=primeblocks-app);
          "
        >
          <div class="text-900 text-2xl font-medium mb-6">Contact Us</div>
          <div class="text-700 line-height-3 mb-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <a
            class="inline-flex align-items-center text-blue-600 font-bold no-underline cursor-pointer"
          >
            <span class="mr-3 color-background"
              >View Address on Google Maps</span
            >
            <i class="pi pi-arrow-right color-background"></i>
          </a>
          <ul class="list-none p-0 m-0 mt-6 text-700">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-phone mr-2"></i>
              <span>+123456789</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-twitter mr-2"></i>
              <span>@kevio</span>
            </li>
            <li class="flex align-items-center">
              <i class="pi pi-inbox mr-2"></i>
              <span>contact@kevio.com</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="blockContent" class="block-content">
  <div class="block-content-active">
    <div>
      <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
        <div class="grid">
          <div class="col-12 lg:col-6">
            <div class="text-900 font-medium mb-4">Contact Us</div>
            <div class="text-900 text-2xl font-bold mb-4">GET IN TOUCH</div>
            <p class="text-700 line-height-3 pr-0 lg:pr-5">
              Ornare massa eget egestas purus viverra accumsan in. Sed elementum
              tempus egestas sed. Venenatis urna cursus eget nunc scelerisque
              viverra.
            </p>
          </div>
          <div class="col-12 md:col-6 lg:col-3">
            <div class="flex align-items-start">
              <div>
                <span
                  class="flex align-items-center justify-content-center surface-100 border-round mr-3"
                  style="height: 3rem; width: 3rem"
                >
                  <i class="pi pi-map-marker text-900 text-4xl"></i>
                </span>
              </div>
              <div>
                <span class="text-2xl text-900 mb-2 font-medium">Address</span>
                <p class="text-700 line-height-3">
                  Jacob Obrechtstraat 5, 1071 KC Amsterdam The Netherlands
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 md:col-6 lg:col-3">
            <div class="flex align-items-start">
              <div>
                <span
                  class="flex align-items-center justify-content-center surface-100 border-round mr-3"
                  style="height: 3rem; width: 3rem"
                >
                  <i class="pi pi-inbox text-900 text-4xl"></i>
                </span>
              </div>
              <div>
                <span class="text-2xl text-900 mb-2 font-medium">Email</span>
                <p class="text-700 line-height-3">info@company.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img
        id="j_idt111:blockViewerForm:j_idt113"
        src="https://www.primefaces.org/primeblocks-jsf/javax.faces.resource/images/blocks/contact/map.png.xhtml?ln=primeblocks-app"
        class="w-full"
        alt="Image"
      />
    </div>
  </div>
</div>
