<div id="blockContent" class="block-content">
  <div class="block-content-active">
    <div
      class="surface-overlay py-3 px-6 shadow-2 flex align-items-center justify-content-between relative lg:static"
      style="min-height: 80px"
    >
      <h1>GREEN CODE</h1>

      <a
        class="cursor-pointer block lg:hidden text-700"
        data-pb-styleclass="{ selector: '@next', enterClass: 'hidden', leaveToClass: 'hidden', hideOnOutsideClick: true}"
      >
        <i class="pi pi-bars text-4xl"></i>
      </a>
      <div
        class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full surface-overlay left-0 top-100 z-1 shadow-2 lg:shadow-none"
      >
        <ul
          class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row"
        >
          <li>
            <a
              class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150"
            >
              <i class="pi pi-home mr-2"></i>
              <span>Home</span>
            </a>
          </li>
          <li class="lg:relative">
            <a
              class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150"
              data-pb-styleclass="{ selector: '@next', enterClass: 'hidden', enterActiveClass: 'scalein', leaveToClass: 'hidden', leaveActiveClass: 'fadeout', hideOnOutsideClick: true }"
            >
              <i class="pi pi-users mr-2"></i>
              <span>Customers</span>
              <i class="pi pi-angle-down ml-auto lg:ml-3"></i>
            </a>
            <ul
              class="list-none py-3 px-6 m-0 lg:px-0 lg:py-0 border-round shadow-0 lg:shadow-2 lg:border-1 border-50 lg:absolute surface-overlay hidden origin-top w-full lg:w-15rem cursor-pointer"
            >
              <li>
                <a
                  class="flex p-3 align-items-center text-600 hover:text-900 hover:surface-100 transition-colors transition-duration-150"
                >
                  <i class="pi pi-user-plus mr-2"></i>
                  <span class="font-medium">Add New</span>
                </a>
              </li>
              <li class="relative">
                <a
                  class="flex p-3 align-items-center text-600 hover:text-900 hover:surface-100 transition-colors transition-duration-150"
                  data-pb-styleclass="{ selector: '@next', enterClass: 'hidden', enterActiveClass: 'scalein', leaveToClass: 'hidden', leaveActiveClass: 'fadeout', hideOnOutsideClick: true }"
                >
                  <i class="pi pi-search mr-2"></i>
                  <span class="font-medium">Search</span>
                  <i class="pi pi-angle-down ml-auto lg:-rotate-90"></i>
                </a>
                <ul
                  class="list-none py-3 pl-3 m-0 lg:px-0 lg:py-0 border-round shadow-0 lg:shadow-2 lg:border-1 border-50 lg:absolute surface-overlay hidden origin-top w-full lg:w-15rem cursor-pointer left-100 top-0"
                >
                  <li>
                    <a
                      class="flex p-3 align-items-center text-600 hover:text-900 hover:surface-100 transition-colors transition-duration-150"
                    >
                      <i class="pi pi-shopping-cart mr-2"></i>
                      <span class="font-medium">Purchases</span>
                    </a>
                  </li>
                  <li class="relative">
                    <a
                      class="flex p-3 align-items-center text-600 hover:text-900 hover:surface-100 transition-colors transition-duration-150"
                    >
                      <i class="pi pi-comments mr-2"></i>
                      <span class="font-medium">Messages</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a
              class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150"
            >
              <i class="pi pi-calendar mr-2"></i>
              <span>Calendar</span>
            </a>
          </li>
          <li>
            <a
              class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150"
            >
              <i class="pi pi-chart-line mr-2"></i>
              <span>Stats</span>
            </a>
          </li>
        </ul>
        <ul
          class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row border-top-1 surface-border lg:border-top-none"
        >
          <li>
            <a
              class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150"
            >
              <i class="pi pi-inbox text-base lg:text-2xl mr-2 lg:mr-0"></i>
              <span class="block lg:hidden font-medium">Inbox</span>
            </a>
          </li>
          <li>
            <a
              class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150"
              ><div
                id="j_idt42:blockViewerForm:j_idt46"
                class="ui-overlay-badge"
              >
                <span
                  class="ui-badge ui-widget ui-badge-dot ui-badge-danger"
                ></span>
                <i class="pi pi-bell text-base lg:text-2xl"></i>
              </div>
              <span class="block lg:hidden font-medium ml-2 lg:ml-0"
                >Notifications</span
              >
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="grid grid-nogutter surface-section text-800">
  <div
    class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
  >
    <section>
      <span class="block text-6xl font-bold mb-1">Create the screens your</span>
      <div class="text-6xl text-color font-bold mb-3">
        your visitors deserve to see
      </div>
      <p class="mt-0 mb-4 text-700 line-height-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>

      <button
        pButton
        pRipple
        label="Learn More"
        type="button"
        class="mr-3 p-button-raised"
      ></button>
      <button
        pButton
        pRipple
        label="Live Demo"
        type="button"
        class="p-button-outlined"
      ></button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img
      src="https://www.freecodecamp.org/news/content/images/2022/05/ilya-pavlov-OqtafYT5kTw-unsplash.jpg"
      alt="Image"
      class="md:ml-auto block image"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>

<div
  class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap"
>
  <div class="font-bold mr-8">🔥 Hot Deals!</div>
  <div class="align-items-center hidden lg:flex">
    <span class="line-height-3"
      >Libero voluptatum atque exercitationem praesentium provident odit.</span
    >
  </div>
  <a class="flex align-items-center ml-2 mr-8">
    <a class="text-white" href="#"
      ><span class="underline font-bold">Learn More</span></a
    >
  </a>
  <a
    pRipple
    class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150"
    style="width: 2rem; height: 2rem"
  >
    <i class="pi pi-times"></i>
  </a>
</div>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-2xl">
    <span class="text-900">One Product, </span>
    <span class="color-background">Many Solutions</span>
  </div>
  <div class="text-700 text-sm mb-6">
    Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna.
  </div>
  <div class="grid">
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-desktop text-4xl color-background"></i>
      </span>
      <div class="text-900 mb-3 font-medium">Built for Developers</div>
      <span class="text-700 text-sm line-height-3"
        >Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur.</span
      >
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-lock text-4xl color-background"></i>
      </span>
      <div class="text-900 mb-3 font-medium">End-to-End Encryption</div>
      <span class="text-700 text-sm line-height-3"
        >Risus nec feugiat in fermentum posuere urna nec. Posuere sollicitudin
        aliquam ultrices sagittis.</span
      >
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-check-circle text-4xl color-background"></i>
      </span>
      <div class="text-900 mb-3 font-medium">Easy to Use</div>
      <span class="text-700 text-sm line-height-3"
        >Ornare suspendisse sed nisi lacus sed viverra tellus. Neque volutpat ac
        tincidunt vitae semper.</span
      >
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-globe text-4xl color-background"></i>
      </span>
      <div class="text-900 mb-3 font-medium">Fast & Global Support</div>
      <span class="text-700 text-sm line-height-3"
        >Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum
        tellus.</span
      >
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-github text-4xl color-background"></i>
      </span>
      <div class="text-900 mb-3 font-medium">Open Source</div>
      <span class="text-700 text-sm line-height-3"
        >Nec tincidunt praesent semper feugiat. Sed adipiscing diam donec
        adipiscing tristique risus nec feugiat.
      </span>
    </div>
    <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-shield text-4xl color-background"></i>
      </span>
      <div class="text-900 mb-3 font-medium">Trusted Securitty</div>
      <span class="text-700 text-sm line-height-3"
        >Mattis rhoncus urna neque viverra justo nec ultrices. Id cursus metus
        aliquam eleifend.</span
      >
    </div>
  </div>
</div>
<div id="blockContent" class="block-content">
  <div class="block-content-active">
    <div
      class="bg-gray-900 p-8 flex justify-content-center md:justify-content-end bg-no-repeat bg-cover md:bg-contain"
      style="
        background: url(/primeblocks-jsf/javax.faces.resource/images/blocks/cta/cta-2.png.xhtml?ln=primeblocks-app);
      "
    >
      <div class="px-5">
        <div class="text-white font-bold text-6xl">Ready to build beyond</div>
        <div class="text-blue-200 font-bold text-6xl">your expectations?</div>
        <div class="mt-3 mb-5 text-gray-200 font-medium line-height-3">
          Vestibulum sed arcu non odio euismod lacinia at quis risus. Massa
          massa ultricies mi quis.
        </div>
        <p-button label="Information" styleClass="p-button-sm"></p-button>
        <script id="j_idt106:blockViewerForm:j_idt108_s" type="text/javascript">
          $(function () {
            PrimeFaces.cw(
              "CommandButton",
              "widget_j_idt106_blockViewerForm_j_idt108",
              {
                id: "j_idt106:blockViewerForm:j_idt108",
              }
            );
          });
        </script>
      </div>
    </div>
  </div>
</div>
<div id="blockContent" class="block-content">
  <div class="block-content-active surface-section px-4 md:px-6 lg:px-8">
    <div
      class="surface-section py-6 flex flex-column sm:flex-row sm:align-items-center justify-content-between"
    >
      <div>
        <h1>GREEN CODE</h1>
        <div class="mt-2 line-height-3">
          © 2021 KEV-CREATOR, Inc. All rights reserved
        </div>
      </div>
      <div class="mt-5 sm:mt-0">
        <a
          class="cursor-pointer text-500 transition-colors transition-duration-150 hover:text-700"
        >
          <i class="pi pi-twitter text-xl"></i>
        </a>
        <a
          class="cursor-pointer text-500 ml-3 transition-colors transition-duration-150 hover:text-700"
        >
          <i class="pi pi-facebook text-xl"></i>
        </a>
        <a
          class="cursor-pointer text-500 ml-3 transition-colors transition-duration-150 hover:text-700"
        >
          <i class="pi pi-github text-xl"></i>
        </a>
      </div>
    </div>
  </div>
</div>
