body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.image {
  width: 639px;
  aspect-ratio: auto 639 / 563;
  height: 563px;
}
.text-color {
  color: #16db65 !important;
}

.color-background {
  color: #16db65;
}
.text-cyan-500 {
  color: #16db65 !important;
}
.bg-cyan-500 {
  background-color: #16db65 !important;
  font: 1em sans-serif;
  font-weight: 500 !important;
}

.button-raised {
  background-color: #16db65 !important;
  border: 1px solid #16db65;
  border: hover 1px solid #16db65 !important;
}

.button-outlined {
  border: 1px solid #16db65;
  color: #000000 !important;
}
